* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(18, 18, 18);
  color: #ffffff;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}
/* Common */
.lexend {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.lexend--100 {
  font-weight: 100;
}
.lexend--200 {
  font-weight: 200;
}
.lexend--300 {
  font-weight: 300;
}
.lexend--400 {
  font-weight: 400;
}
.lexend--500 {
  font-weight: 500;
}
.lexend--600 {
  font-weight: 600;
}
.lexend--700 {
  font-weight: 700;
}
.lexend--800 {
  font-weight: 800;
}
.lexend--900 {
  font-weight: 900;
}
.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.lora--100 {
  font-weight: 100;
}
.lora--200 {
  font-weight: 200;
}
.lora--300 {
  font-weight: 300;
}
.lora--400 {
  font-weight: 400;
}
.lora--500 {
  font-weight: 500;
}
.lora--600 {
  font-weight: 600;
}
.lora--700 {
  font-weight: 700;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.container {
  width: 1248px;
  margin-left: auto;
  margin-right: auto;
}
/* Header */
.header {
  padding: 32px 0;
}

.container--header {
  width: 1297px;
}

.logo {
  width: 140px;
}

.nav {
  gap: 40px;
}

.nav-link {
  font-size: 18px;
  color: white;
  text-decoration: none;
  letter-spacing: -0.5px;
  line-height: 27px;
}

.nav-link--button {
  font-size: 16px;
  height: 48px;
  border-radius: 4px;
  background-color: rgb(104, 99, 253);
  padding: 12px 24px;
}
/* Hero */
.section--hero {
  margin-top: 140px;
  margin-bottom: 120px;
}

.hero-content {
  gap: 16px;
}
.hero-title {
  font-size: 140px;
  letter-spacing: -3px;
  line-height: 142.8px;
  margin-bottom: 16px;
}

.hero-description {
  font-size: 24px;
  color: rgb(212, 212, 212);
  line-height: 37.2px;
}
/* WORKS */
.section--works {
  margin-bottom: 96px;
}

.section-header {
  margin-bottom: 29px;
}

.section-heading {
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.5px;
}

.section-content {
  gap: 70px;
  flex-wrap: wrap;
}

.project-thumbnail {
  border-radius: 24px;
  overflow: hidden;
  margin-bottom: 24px;
}

.project-thumbnail img {
  width: 573px;
  height: 498px;
  object-fit: cover;
}

.project-title {
  letter-spacing: -0.5px;
  font-size: 24px;
  line-height: 1.5;
  color: #f7f7f7;
}

.project-description {
  font-size: 20px;
  line-height: 31px;
  letter-spacing: -0.25px;
  color: #d4d4d4;
}
/* WORDS */
.project-time {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: rgb(212, 212, 212);
}
/* FOOTER */
.copy-right {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: rgb(212, 212, 212);
}
.footer {
  padding: 82px 82px;
  margin-top: 172px;
}
